﻿@model IEnumerable<Domain.Models.TicketPriority>

@{
    ViewBag.Title = "Index";
    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}

<div class="panel">
    <div class="panel-header border-bottom">
        <h2>
            <span class="fa fa-list"></span> <strong>TicketPriority - Index</strong>
        </h2>
    </div>
    <div class="panel-content p-b-20">
        <div id="grid"></div>
    </div>
</div>
@section styles{
    <script src="http://cdn.kendostatic.com/2014.3.1029/js/jszip.min.js"></script>
}
@section scripts{
    <script type="text/javascript">
        var dataSource = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: "@(webApiUrl)TicketPriorities",
                    dataType: "json",
                    contentType: "application/json"
                },
                destroy: {
                    url: function (data) {
                        return "@(webApiUrl)TicketPriorities/"+data.Id;
                    },
                    type: "delete"
                },
                parameterMap: function (options, operation) {
                    if (operation === "destroy") {
                        return null;
                    } else if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    } else {
                        return "q=" + JSON.stringify(options);
                    }
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                model: {
                    id: 'Id',
                    fields: {
                        Id: {
                            type: "number"
                        },
                        CreatedAt: {
                            type: "date"
                        },
                        LastUpdateTime: {
                            type: "date"
                        },
                        Name: {
                            type: "string"
                        },
                    }
                }
            },
            batch: false,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            pageSize: 10
        });

        $("#grid").kendoGrid({
            dataSource: dataSource,
            dataBound: gridDataBound,
            noDataMessage: 'Currently no TicketPriority available',
            columns: [
                {
                    field: "Id",
                    hidden: true,
                    width: 100
                },
                {
                    field: "CreatedAt",
                    format: "{0: yyyy-MM-dd HH:mm:ss}"
                },
                {
                    field: "LastUpdateTime",
                    format: "{0: yyyy-MM-dd HH:mm:ss}"
                },
                "Name",
                {
                    command: [
                        {
                            name: 'Details',
                            click: function (data) {
                                var dataItem = this.dataItem($(data.currentTarget).closest("tr"));
                                window.location = "@Url.Action("Details")/" + dataItem.Id;
                            },
                            text: "<button class='btn btn-default btn-transparent btn-sm p-0' title='Details'><span class='fa fa-search'></span></button>"
                        },
                        @if (this.User.IsInRole("Admin"))
                        {
                            <text>
                                    {
                                        name: 'Edit',
                                        click: function(data){
                                            var dataItem = this.dataItem($(data.currentTarget).closest("tr"));
                                            window.location = "@Url.Action("Edit")/" + dataItem.Id;
                                        },
                                        text: "<button class='btn btn-primary btn-sm p-0' title='Edit'><span class='fa fa-edit'></span></button>"
                                    },
                            </text>
                        }
                        @if (this.User.IsInRole("Admin"))
                            {
                                    <text>
                                            {
                                                name: 'destroy',
                                                text: "<button class='btn btn-danger btn-sm p-0' title='Delete'><span class='fa fa-trash-o'></span></button>"
                                            }
                                    </text>
                            }
                    ],
                    width: 200
                }
            ],
            editable: "popup",
            sortable: true,
            filterable: {
                mode: "row"
            },
            pageable:{
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            groupable: true,
            excel: {
                allPages: true,
                fileName: "TicketPriority_Export.xlsx",
                filterable: true
            },
            toolbar: [
                {
                    name: "create",
                    template: '<a href="@Url.Action("Create")" class="k-button k-button-icontext"><span class="fa fa-plus"></span> Add New TicketPriority</a>'
                },
                {
                    name: "excel",
                    text: "<span class='fa fa-file-excel-o'></span> Export To Excel"
                },
                {
                    name: "download",
                    template: '<button class="k-button" id="downloadFormatExcel"><span class="fa fa-download"></span> Download Import Excel Format</button>'
                }
            ]
        });

        $("#downloadFormatExcel").click(function(e) {
            e.preventDefault();

            var format = [
                {
                    cells: [
                        {value: "Id"},
                        {value: "CreatedAt"},
                        {value: "LastUpdateTime"},
                        {value: "Name"},
                    ]
                }
            ];

            var workbook = new kendo.ooxml.Workbook({
                sheets: [
                  {
                      columns: [
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                      ],
                      // Title of the sheet
                      title: "TicketPriority",
                      // Rows of the sheet
                      rows: format
                  }
                ]
            });
            //save the file as Excel file with extension xlsx
            kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: "TicketPriority_Import.xlsx" });
        });

        var dsExcel = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: "@(webApiUrl)TicketPriorities",
                    dataType: "json",
                    contentType: "application/json",
                },
                parameterMap: function (options, operation) {
                    if (operation === "destroy") {
                        return null;
                    } else if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    } else {
                        return "q=" + JSON.stringify(options);
                    }
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                model: {
                    id: 'Id',
                    fields: {
                        Id: {
                            type: "number"
                        },
                        CreatedAt: {
                            type: "date"
                        },
                        LastUpdateTime: {
                            type: "date"
                        },
                        Name: {
                            type: "string"
                        },
                    }
                }
            }
        });

        function exportToExcel() {
            var rows = [
                {
                    cells: [
                        {value: "Id"},
                        {value: "CreatedAt"},
                        {value: "LastUpdateTime"},
                        {value: "Name"},
                    ]
                }
            ];

            dsExcel.query({
                pageSize: dsExcel.total()
            }).then(function () {
                var data = dsExcel.data();
                for (var i = 0; i < data.length; i++) {
                    //push single row for every record
                    rows.push({
                        cells: [
                            { value: data[i].Id },
                            { value: data[i].CreatedAt },
                            { value: data[i].LastUpdateTime },
                            { value: data[i].Name },
                        ]
                    });
                }

                var workbook = new kendo.ooxml.Workbook({
                    sheets: [
                      {
                          columns: [
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                            { autoWidth: true },
                          ],
                          // Title of the sheet
                          title: "TicketPriority",
                          // Rows of the sheet
                          rows: rows
                      }
                    ]
                });
                //save the file as Excel file with extension xlsx
                kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: "TicketPriority_Export.xlsx" });
            });
        }

        $("#grid").data("kendoGrid").bind("excelExport", function (e) {
            e.preventDefault();
            exportToExcel();
        });

    </script>
}
