﻿@model Domain.Infrastructure.ApplicationRole

@{
    ViewBag.Title = "Edit";

    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}
<div class="panel">
    <div class="panel-header border-bottom">
        <h2>
            <span class="fa fa-edit"></span> <strong>Role - Edit</strong>
        </h2>
    </div>
    <div class="panel-content">
        @using (Html.BeginForm("Edit", "Role", FormMethod.Post, new { @id = "formEdit" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { @class = "form-control form-white" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { @class = "form-control form-white" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="k-button k-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        <p class="pull-right">
            @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
            @Html.ActionLink("Role List", "Index")
            @if (Request.UrlReferrer != null)
            {
                @: | <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
            }
        </p>
        <div class="clearfix"></div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#formEdit").validate({
            rules: {
                Name: {
                    required: true,
                }
            }
        });

        CreateEditor("#Description");
    </script>
}
