﻿@using App.Helper
@using Domain.Models.ViewModels
@using Humanizer
@model Domain.Infrastructure.ApplicationUser

@{
    ViewBag.Title = "Details";
    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
    var photo = UserHelper.GetUserPhoto(Model.Id);
}
<style>
    .career-option, .education-option {
        -ms-opacity: 0;
        opacity: 0;
    }

    #add-education-form, #add-career-form {
        display: none;
    }

    #education p, #career p {
        white-space: pre-line;
    }
</style>
<div class="panel">
    <div class="panel-header border-bottom">
        <h2>
            <i class="fa fa-list"></i><strong>Detail Informasi User</strong>
        </h2>
    </div>
    <div class="panel-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 toppad">
                <div class="col-md-2 col-lg-2 p-t-30 p-b-30" align="center">
                    <img alt="User Pic" src="@Url.Content(photo)" height="150" width="150" class="img-circle user-pic">
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div class="nav-tabs">
                        <ul class="nav nav-tabs nav-green">
                            <li class="active"><a href="#account" data-toggle="tab"><i class="fa fa-user"></i> Account</a></li>
                            <li class=""><a href="#profile" data-toggle="tab"><i class="fa fa-info"></i> Profile</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="account" class="tab-pane fade active in">
                                <div class="row">
                                    <div class=" col-md-12 col-lg-12">
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => model.UserName)</td>
                                                    <td>@Html.DisplayFor(model => model.UserName)</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => model.Email)</td>
                                                    <td>@Html.DisplayFor(model => model.Email)</td>
                                                </tr>
                                                <tr>
                                                    <td>Status</td>
                                                    @if (Model.EmailConfirmed)
                                                    {
                                                        <td>
                                                            <span class="label label-success text-center">@UserStatus.Active.Humanize()</span>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <span class="label label-default text-center">@UserStatus.NotActive.Humanize()</span>
                                                            <button data-rel="tooltip" type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Aktifkan user ini!" id="activate-user-btn"><i class="glyphicon glyphicon-ok"></i> Aktifkan</button>
                                                        </td>
                                                    }
                                                </tr>
                                                <tr>
                                                    <td> Role</td>
                                                    <td>@ViewBag.Role.Name</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <a href="/UserManagement/EditAccount/@Model.Id" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Edit Account Information</a>
                                        <a href="/UserManagement/EditRole/@Model.Id" class="btn btn-sm btn-primary"><i class="fa fa-user-secret"></i> Edit Role</a>
                                        <a href="/UserManagement/ResetPassword/@Model.Id" class="btn btn-sm btn-primary"><i class="icon-lock-open"></i> Reset Password</a>
                                    </div>
                                </div>
                            </div>
                            <div id="profile" class="tab-pane fade">
                                <div class="row">
                                    <div class=" col-md-12 col-lg-12">
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => model.UserProfile.Name)</td>
                                                    <td>@Html.DisplayFor(model => model.UserProfile.Name)</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => model.UserProfile.Birthplace)</td>
                                                    <td>@Html.DisplayFor(model => model.UserProfile.Birthplace)</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => model.UserProfile.Birthdate)</td>
                                                    <td>@(Model.UserProfile.Birthdate.HasValue ? Model.UserProfile.Birthdate.Value.ToString("dd MMM yyyy") : "")</td>
                                                </tr>
                                                <tr>
                                                    <td>Telepon</td>
                                                    <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => model.UserProfile.Address)</td>
                                                    <td>@Html.DisplayFor(model => model.UserProfile.Address)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <a href="/UserManagement/EditProfile/@Model.UserProfile.Id" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Edit Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <a href="/UserManagement/" class="btn btn-default btn-transparent pull-right"><i class="glyphicon glyphicon-list"></i> Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/make/assets/global/plugins/noty/jquery.noty.packaged.min.js"></script> <!-- Notifications -->
    <script src="~/Scripts/notification.js"></script> <!-- Notifications -->
    <script type="text/javascript">
    $("#activate-user-btn").click(function () {
        $.ajax({
            url: '@Url.Action("ActivateUser", "UserManagement")',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ id: "@Model.Id" }),
            beforeSend: function () {
                $("#body-overlay").removeClass("hide");
            },
            success: function (data) {
                if (data === 200) {
                    showNotif("Aktivasi user berhasil", "success");
                    location.reload();
                } else {
                    showNotif("Terjadi kesalahan, silaka coba lagi", "danger");
                }
            },
            error: function (xhr) {
                console.log("error");
            },
            complete: function (resp, status) {
                $("#body-overlay").addClass("hide");
            }
        });
    });
    </script>
}
