﻿@model Domain.Infrastructure.EditUserAccountBindingModel

@{
    ViewBag.Title = "Edit Role";
    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}

<div class="panel">
    <div class="panel-header border-bottom">
        <h2>
            <span class="fa fa-edit"></span> <strong>Role - Edit</strong>
        </h2>
    </div>
    <div class="panel-content">
        <div>
            <h4>User account detail</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt>
                    Current Role
                </dt>

                <dd id="currentRole">
                    @ViewBag.Role.Name
                </dd>

            </dl>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "EditRole" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Select role for this user</h4>
                <hr />
                <div class="col-lg-12" id="alert">

                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.Hidden("userId", @Model.Id)

                <div class="form-group">
                    @Html.Label("Role Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("roleName", new SelectList(ViewBag.Roles, "Value", "Text", @ViewBag.Role.Name), new { @class = "dropdown-toggle col-md-3 form-control form-white" })
                        @Html.ValidationMessage("roleName", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        <p class="pull-right">
            @Html.ActionLink("Back to List", "Index") |
            @Html.ActionLink("Back to Details", "Details", new { id = Model.Id })
            @if (Request.UrlReferrer != null)
            {
                @: | <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
            }
        </p>
        <div class="clearfix"></div>
    </div>
</div>
    @section scripts
{
        <script>
            $("#EditRole").on("submit", function (e) {
                var rolesArray = [$("#roleName").val()];
                $.ajax({
                    type: "PUT",
                    url: "@(webApiUrl)accounts/user/@Model.Id/roles",
                    data: { "": rolesArray },
                    beforeSend: function () {
                        $("#body-overlay").removeClass("hide");
                    },
                    success: function (exists) {
                        $("#alert").html("<div class='alert alert-success alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>Role successfully updated.</div>");
                        $("#currentRole").html($("#roleName").val());
                    },
                    error: function (resp) {
                        //alert($.parseJSON(resp.responseText.replace("odata.error", "error")).error.message.value);
                        alert("gagal");
                    },
                    complete: function (resp, status) {
                        if (resp.status !== 200) {
                            alert("Failed to add role");
                        }
                        $("#body-overlay").addClass("hide");
                    }
                });

                e.preventDefault();
            });
        </script>
    }
