﻿@model IEnumerable<Domain.Models.ViewModels.BaseUser>

@{
    ViewBag.Title = "Index";
    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}

<div class="panel">
    <div class="panel-header border-bottom">
        <h2>
            <i class="fa fa-table"></i><strong>Daftar User</strong>
        </h2>
    </div>
    <div class="panel-content p-b-20">
        <div class="nav nav-tabs">
            <ul class="nav nav-tabs nav-green">
                <li class="active"><a href="#all" data-toggle="tab">Semua User</a></li>
                @*<li class=""><a href="#pending" data-toggle="tab">Pending List</a></li>*@
            </ul>
            <div class="tab-content">
                <div id="all" class="tab-pane fade active in"></div>
                @*<div id="pending" class="tab-pane fade "></div>*@
            </div>
            
        </div>
    </div>
</div>
@section styles{
    <script src="http://cdn.kendostatic.com/2014.3.1029/js/jszip.min.js"></script>
}
@section scripts{
    <script type="text/javascript">
    var dsOptions = {
        type: "json",
        transport: {
            read: {
                url: "@(webApiUrl)UserManagements",
                dataType: "json",
                contentType: "application/json"
            },
            destroy: {
                url: function (data) {
                    return "@(webApiUrl)UserManagements/" + data.Id;
                },
                type: "delete"
            },
            parameterMap: function (options, operation) {
                if (operation === "destroy") {
                    return null;
                } else if (operation !== "read" && options.models) {
                    return { models: kendo.stringify(options.models) };
                } else {
                    return "q=" + JSON.stringify(options);
                }
            }
        },
        schema: {
            data: "Data",
            total: "Total",
            model: {
                id: 'Id',
                fields: {
                    Id: {
                        type: "string"
                    },
                    UserName: {
                        type: "string"
                    },
                    Email: {
                        type: "string"
                    },
                    Name: {
                        type: "string"
                    },
                    Telephone: {
                        type: "string"
                    },
                    Address: {
                        type: "string"
                    },
                    BirthPlace: {
                        type: "string"
                    },
                    BirthDate: {
                        type: "date"
                    },
                    CreatedAt: {
                        type: "date"
                    },
                    LastUpdateTime: {
                        type: "date"
                    },
                    SortOrder: {
                        type: "number"
                    },
                    IsApproved:{
                        type: "bool"
                    },

                }
            }
        },
        batch: false,
        serverPaging: true,
        serverSorting: true,
        serverFiltering: true,
        pageSize: 10
    };

    var dataSource = App.Models.UserProfile.DataSource(dsOptions, false);

    var gridOptions = {
        dataSource: dataSource,
        dataBound: gridDataBound,
        noDataMessage: 'Currently no Users available',
        columns: [
            {
                field: "Id",
                hidden: true,
                width: 100
            },
            {
                field: "UserName",
                title: "Username"
            },
            {
                field: "Name",
                title: "Nama"
            },
            "Email",
            {
                field: "Status",
                title: "Status",
                template: function (data) {
                    var html = "<div class='text-center'>";
                    if (data.Status === "Active") {
                        html += "<span class='label label-success text-center'>" + data.Status + "</span>";
                    } else {
                        html += "<span class='label label-default text-center'>" + data.Status + "</span>";
                    }
                    html += "</div>";
                    return html;
                },
                width: 150
            },
            {
                command: [
                    {
                        name: 'Details',
                        click: function (data) {
                            var dataItem = this.dataItem($(data.currentTarget).closest("tr"));
                            window.location = "@Url.Action("Details","UserManagement")/" + dataItem.Id;
                        },
                        text: '<button type="button" class="btn btn-sm btn-default" title="Detail"><i class="fa fa-search"></i> </button>',
                    },
                    {
                        name: 'destroy',
                        text: '<button type="button" class="btn btn-sm btn-danger" title="Hapus"><i class="fa fa-trash-o"></i> </button>',
                    }
                ],
                width: 110
            }
        ],
        editable: "popup",
        sortable: true,
        filterable: {
            mode: "row"
        },
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5
        },
        groupable: true,
        excel: {
            allPages: true,
            fileName: "Users_Export.xlsx",
            filterable: true
        },
        toolbar: [
            {
                name: "create",
                template: '<a href="@Url.Action("Create")" class="k-button k-button-icontext"><span class="fa fa-plus"></span> Tambah User Baru</a>'
            },
            {
                name: "excel",
                text: "<span class='fa fa-file-excel-o'></span> Export To Excel"
            }
        ]
    };

    $("#all").kendoGrid(gridOptions);

    function exportToExcel(title, url) {
        var dsExcel = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: "@(webApiUrl)" + url,
                        dataType: "json",
                        contentType: "application/json",
                    },
                    parameterMap: function (options, operation) {
                        if (operation === "destroy") {
                            return null;
                        } else if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        } else {
                            return "q=" + JSON.stringify(options);
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    model: {
                        id: 'Id',
                        fields: {
                            Id: {
                                type: "string"
                            },
                            UserName: {
                                type: "string"
                            },
                            Email: {
                                type: "string"
                            },
                            FirstName: {
                                type: "string"
                            },
                            LastName: {
                                type: "string"
                            },
                            FullName: {
                                type: "string"
                            },
                            Telephone: {
                                type: "string"
                            },
                            Address: {
                                type: "string"
                            },
                            BirthPlace: {
                                type: "string"
                            },
                            BirthDate: {
                                type: "date"
                            },
                            KTP: {
                                type: "string"
                            },
                            CityId: {
                                type: "number"
                            },
                            CompanyId: {
                                type: "string"
                            },
                            GenderId: {
                                type: "number"
                            },
                            UserProfileId: {
                                type: "number"
                            },
                        }
                    }
                }
            });

            var rows = [
                {
                    cells: [
                        { value: "Id" },
                        { value: "UserName" },
                        { value: "Email" },
                        { value: "Name" },
                        { value: "Telephone" },
                        { value: "Address" },
                        { value: "BirthPlace" },
                        { value: "BirthDate" },
                        { value: "UserProfileId" },
                    ]
                }
            ];

            dsExcel.query({
                pageSize: dsExcel.total()
            }).then(function () {
                var data = dsExcel.data();
                for (var i = 0; i < data.length; i++) {
                    //push single row for every record
                    rows.push({
                        cells: [
                            { value: data[i].Id },
                            { value: data[i].UserName },
                            { value: data[i].Email },
                            { value: data[i].Name },
                            { value: data[i].Telephone },
                            { value: data[i].Address },
                            { value: data[i].BirthPlace },
                            { value: data[i].BirthDate },
                            { value: data[i].UserProfileId },
                        ]
                    });
                }

                var workbook = new kendo.ooxml.Workbook({
                    sheets: [
                        {
                            columns: [
                                { autoWidth: true },
                                { autoWidth: true },
                                { autoWidth: true },
                                { autoWidth: true },
                                { autoWidth: true },
                                { autoWidth: true },
                                { autoWidth: true },
                                { autoWidth: true },
                                { autoWidth: true },
                            ],
                            // Title of the sheet
                            title: title,
                            // Rows of the sheet
                            rows: rows
                        }
                    ]
                });
                //save the file as Excel file with extension xlsx
                kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: title+"_Export.xlsx" });
            });
        }

        $("#all").data("kendoGrid").bind("excelExport", function (e) {
            e.preventDefault();
            exportToExcel("Users","UserManagements");
        });
        
        ////-------------------pending---------------------//
        ////$("#pending").kendoGrid(gridOptions2);
        //var pending = $("#pending").kendoGrid({
        //    dataSource: dataSource,
        //    dataBound: gridDataBound,
        //    noDataMessage: 'Currently no Users available',
        //    columns: [
        //        {
        //            field: "Id",
        //            Hidden: true,
        //            width: 100,
        //        },
        //        {
        //            field: "UserName",
        //            title: "Username"
        //        },
        //        {
        //            field: "Name",
        //            title: "Nama"
        //        },
        //        "Email",
        //        {
        //            field: "Status",
        //            title: "Status",
        //            template: function (data) {
        //                var html = "<div class='text-center'>";
        //                if (data.Status === "Active") {
        //                    html += "<span class='label label-success text-center'>" + data.Status + "</span>";
        //                } else {
        //                    html += "<span class='label label-default text-center'>" + data.Status + "</span>";
        //                }
        //                html += "</div>";
        //                return html;
        //            },
        //            width: 150
        //        },
        //        "IsApproved",
        //        {
        //            field: "IsApproved",
        //            title: "IsApproved",
        //            template: function (data) {
        //                var html = "<div class='text-center'>";
        //                if (data.IsApproved === "Active") {
        //                    html += "<span class='label label-success text-center'>" + data.IsApproved + "</span>";
        //                } else {
        //                    html += "<span class='label label-default text-center'>" + data.IsApproved + "</span>";
        //                }
        //                html += "</div>";
        //                return html;
        //            },
        //            width: 150
        //        },
        //    ]
        //}); - pending - unused. uncomment above if using it.


    </script>
}
