﻿@model IEnumerable<Domain.Models.Ticket>

@{
    ViewBag.Title = "Index";
    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}
@if (this.User.IsInRole("User")){
    Response.Redirect("~/Ticket/IndexUser");
}
<div class="panel">
    <div class="panel-header border-bottom">
        <h2>
            <span class="fa fa-list"></span> <strong>Ticket - Index</strong>
        </h2>
    </div>
@using (Html.BeginForm("Index", "Ticket", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="panel-content p-b-20">
        <div id="grid"></div>
    </div>
}
</div>
@section styles{
    <script src="http://cdn.kendostatic.com/2014.3.1029/js/jszip.min.js"></script>
}
@section scripts{
    <script type="text/javascript">
    var dataSource = new kendo.data.DataSource({
        type: "json",
        transport: {
            read: {
                url: "@(webApiUrl)Tickets",
                dataType: "json",
                contentType: "application/json"
            },
            destroy: {
                url: function (data) {
                    return "@(webApiUrl)Tickets/" + data.Id;
                },
                type: "delete"
            },
            parameterMap: function (options, operation) {
                if (operation === "destroy") {
                    return null;
                } else if (operation !== "read" && options.models) {
                    return { models: kendo.stringify(options.models) };
                } else {
                    return "q=" + JSON.stringify(options);
                }
            }
        },
        schema: {
            data: "Data",
            total: "Total",
            model: {
                id: 'Id',
                fields: {
                    Id: {
                        type: "number"
                    },
                    Title: {
                        type: "string"
                    },
                    Description: {
                        type: "string"
                    },
                    TicketCategoryId: {
                        type: "number"
                    },
                    TicketApplicationId: {
                        type: "number"
                    },
                    TicketStatusId: {
                        type: "number"
                    },
                    TicketPriorityId: {
                        type: "number"
                    },
                    DueDate: {
                        type: "date"
                    },
                    CreatorId: {
                        type: "string"
                    },
                    SolutionId: {
                        type: "number"
                    },
                    CreatedAt: {
                        type: "date"
                    },
                    LastUpdateTime: {
                        type: "date"
                    },
                }
            }
        },
        batch: false,
        serverPaging: true,
        serverSorting: true,
        serverFiltering: true,
        pageSize: 10
    });

    $("#grid").kendoGrid({
        dataSource: dataSource,
        dataBound: gridDataBound,
        noDataMessage: 'Currently no Ticket available',
        columns: [
            {
                field: "Creator.Email",
                title: "Creator",
                template: function (data) {
                    var html = "<div class='text-center'>";
                    if (data.CreatorId == null) {
                        html += "<span class='text-center'>" + "Anonymous" + "</span>";
                    } else {
                        html += '<a href="@Url.Action("Details","UserManagement")/' + data.Creator.Id + '">' + data.Creator.UserName + '</a>';
                    }
                    html += "</div>";
                    return html;

                }
            },
            {
                field: "Solution.Title",
                title: "Solution",
                template: function (data) {
                    var html = "<div class='text-center'>";
                    if (data.SolutionId == null) {
                        html += "<span class='text-center'>" + "" + "</span>";
                    } else {
                        html += '<a href="@Url.Action("Details","Solution")/' + data.Solution.Id + '">' + data.Solution.Title + '</a>';
                    }
                    html += "</div>";
                    return html;

                }
            },
            {
                field: "TicketApplication.Name",
                title: "TicketApplication",
                template: function (data) {
                    var html = "<div class='text-center'>";
                    if (data.SolutionId == null) {
                        html += "<span class='text-center'>" + "" + "</span>";
                    } else {
                        html += '<a href="@Url.Action("Details","TicketApplication")/' + data.TicketApplication.Id + '">' + data.TicketApplication.Name + '</a>';
                    }
                    html += "</div>";
                    return html;

                }
            },
            {
                field: "TicketCategory.Name",
                title: "TicketCategory",
                template: function (data) {
                    var html = "<div class='text-center'>";
                    if (data.SolutionId == null) {
                        html += "<span class='text-center'>" + "" + "</span>";
                    } else {
                        html += '<a href="@Url.Action("Details","TicketCategory")/' + data.TicketCategory.Id + '">' + data.TicketCategory.Name + '</a>';
                    }
                    html += "</div>";
                    return html;
                }
            },
            {
                field: "TicketPriority.Name",
                title: "TicketPriority",
                template: function (data) {
                    var html = "<div class='text-center'>";
                    if (data.SolutionId == null) {
                        html += "<span class='text-center'>" + "" + "</span>";
                    } else {
                        html += '<a href="@Url.Action("Details","TicketPriority")/' + data.TicketPriority.Id + '">' + data.TicketPriority.Name + '</a>';
                    }
                    html += "</div>";
                    return html;
                }
            },
            {
                field: "TicketStatus.Name",
                title: "TicketStatus",
                template: function (data) {
                    var html = "<div class='text-center'>";
                    if (data.SolutionId == null) {
                        html += "<span class='text-center'>" + "" + "</span>";
                    } else {
                        html += '<a href="@Url.Action("Details","TicketStatus")/' + data.TicketStatus.Id + '">' + data.TicketStatus.Name + '</a>';
                    }
                    html += "</div>";
                    return html;
                }
            },
            {
                field: "Id",
                hidden: true,
                width: 100
            },
            "Title",
            "Description",
            {
                field: "DueDate",
                format: "{0: yyyy-MM-dd HH:mm:ss}"
            },
            {
                field: "CreatedAt",
                format: "{0: yyyy-MM-dd HH:mm:ss}"
            },
            {
                field: "LastUpdateTime",
                format: "{0: yyyy-MM-dd HH:mm:ss}"
            },
            {
                command: [
                    {
                        name: 'Details',
                        click: function (data) {
                            var dataItem = this.dataItem($(data.currentTarget).closest("tr"));
                            window.location = "@Url.Action("Details")/" + dataItem.Id;
                        },
                        text: "<button class='btn btn-default btn-transparent btn-sm p-0' title='Details'><span class='fa fa-search'></span></button>"
                    },
                    @if (this.User.IsInRole("Admin"))
                    {
                        <text>
                                {
                                    name: 'Edit',
                                    click: function (data) {
                                        var dataItem = this.dataItem($(data.currentTarget).closest("tr"));
                                        window.location = "@Url.Action("Edit")/" + dataItem.Id;
                                    },
                                    text: "<button class='btn btn-primary btn-sm p-0' title='Edit'><span class='fa fa-edit'></span></button>"
                                },
                    
                                {
                                    name: 'destroy',
                                    text: "<button class='btn btn-danger btn-sm p-0' title='Delete'><span class='fa fa-trash-o'></span></button>"
                                }
                        </text>
                    }
                            
                ],
                width: 50
            }
        ],
        editable: "popup",
        sortable: true,
        filterable: {
            mode: "row"
        },
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5
        },
        groupable: true,
        excel: {
            allPages: true,
            fileName: "Ticket_Export.xlsx",
            filterable: true
        },
        toolbar: [
            {
                name: "create",
                template: '<a href="@Url.Action("Create")" class="k-button k-button-icontext"><span class="fa fa-plus"></span> Add New Ticket</a>'
            },
            {
                name: "excel",
                text: "<span class='fa fa-file-excel-o'></span> Export To Excel"
            },
            {
                name: "download",
                template: '<button class="k-button" id="downloadFormatExcel"><span class="fa fa-download"></span> Download Import Excel Format</button>'
            },
            @if(this.User.IsInRole("Admin")){
                <text>
                    {
                        // name: "upload",
                        template: '<div class="k-button"><input type="file" name="file" id="upload" class=""/></div>'
                    },
                    {
                        // name: "ok",
                        template: '<div class="k-button"><input type="submit" value="Submit" class=""/></div>'
                    }
                </text>
            }
        ]
    });

    $("#downloadFormatExcel").click(function (e) {
        e.preventDefault();

        var format = [
            {
                cells: [
                    { value: "Id" },
                    { value: "Title" },
                    { value: "Description" },
                    { value: "TicketCategoryId" },
                    { value: "TicketApplicationId" },
                    { value: "TicketStatusId" },
                    { value: "TicketPriorityId" },
                    { value: "DueDate" },
                    { value: "CreatorId" },
                    { value: "SolutionId" },
                    { value: "CreatedAt" },
                    { value: "LastUpdateTime" },
                    { value: "IsDeleted" },
                ]
            }
        ];

        var workbook = new kendo.ooxml.Workbook({
            sheets: [
              {
                  columns: [
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                  ],
                  // Title of the sheet
                  title: "Ticket",
                  // Rows of the sheet
                  rows: format
              }
            ]
        });
        //save the file as Excel file with extension xlsx
        kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: "Ticket_Import.xlsx" });
    });

    var dsExcel = new kendo.data.DataSource({
        type: "json",
        transport: {
            read: {
                url: "@(webApiUrl)Tickets",
                dataType: "json",
                contentType: "application/json",
            },
            parameterMap: function (options, operation) {
                if (operation === "destroy") {
                    return null;
                } else if (operation !== "read" && options.models) {
                    return { models: kendo.stringify(options.models) };
                } else {
                    return "q=" + JSON.stringify(options);
                }
            }
        },
        schema: {
            data: "Data",
            total: "Total",
            model: {
                id: 'Id',
                fields: {
                    Id: {
                        type: "number"
                    },
                    Title: {
                        type: "string"
                    },
                    Description: {
                        type: "string"
                    },
                    TicketCategoryId: {
                        type: "number"
                    },
                    TicketApplicationId: {
                        type: "number"
                    },
                    TicketStatusId: {
                        type: "number"
                    },
                    TicketPriorityId: {
                        type: "number"
                    },
                    DueDate: {
                        type: "date"
                    },
                    CreatorId: {
                        type: "string"
                    },
                    SolutionId: {
                        type: "number"
                    },
                    CreatedAt: {
                        type: "date"
                    },
                    LastUpdateTime: {
                        type: "date"
                    },
                    IsDeleted: {
                        type: "string"
                    },
                }
            }
        }
    });

    function exportToExcel() {
        var rows = [
            {
                cells: [
                    { value: "Id" },
                    { value: "Title" },
                    { value: "Description" },
                    { value: "TicketCategoryId" },
                    { value: "TicketApplicationId" },
                    { value: "TicketStatusId" },
                    { value: "TicketPriorityId" },
                    { value: "DueDate" },
                    { value: "CreatorId" },
                    { value: "SolutionId" },
                    { value: "CreatedAt" },
                    { value: "LastUpdateTime" },
                    { value: "IsDeleted" },
                ]
            }
        ];

        dsExcel.query({
            pageSize: dsExcel.total()
        }).then(function () {
            var data = dsExcel.data();
            for (var i = 0; i < data.length; i++) {
                //push single row for every record
                rows.push({
                    cells: [
                        { value: data[i].Id },
                        { value: data[i].Title },
                        { value: data[i].Description },
                        { value: data[i].TicketCategoryId },
                        { value: data[i].TicketApplicationId },
                        { value: data[i].TicketStatusId },
                        { value: data[i].TicketPriorityId },
                        { value: data[i].DueDate },
                        { value: data[i].CreatorId },
                        { value: data[i].SolutionId },
                        { value: data[i].CreatedAt },
                        { value: data[i].LastUpdateTime },
                        { value: data[i].IsDeleted },
                    ]
                });
            }

            var workbook = new kendo.ooxml.Workbook({
                sheets: [
                  {
                      columns: [
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                        { autoWidth: true },
                      ],
                      // Title of the sheet
                      title: "Ticket",
                      // Rows of the sheet
                      rows: rows
                  }
                ]
            });
            //save the file as Excel file with extension xlsx
            kendo.saveAs({ dataURI: workbook.toDataURL(), fileName: "Ticket_Export.xlsx" });
        });
    }

    $("#grid").data("kendoGrid").bind("excelExport", function (e) {
        e.preventDefault();
        exportToExcel();
    });

</script>
}
