﻿@model Domain.Infrastructure.ChangePasswordBindingModel
@{
    ViewBag.Title = "Manage";
}

<div class="panel col-lg-8 col-md-8">
    <h2>Manage</h2>

    <form id="changePassword" class="m-b-15">
        <fieldset>
            <legend>Change Password</legend>
            <div id="alert"></div>
            <div class="col-md-12 form-group">
                <label class="col-md-5 control-label">@Html.DisplayNameFor(m => m.OldPassword)</label>
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "k-input k-textbox form-control", @required = true })
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 form-group">
                <label class="col-md-5 control-label">@Html.DisplayNameFor(m => m.NewPassword)</label>
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "k-input k-textbox form-control", @required = true })
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 form-group">
                <label class="col-md-5 control-label">@Html.DisplayNameFor(m => m.ConfirmPassword)</label>
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "k-input k-textbox form-control", @required = true })
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="col-md-5">
                </div>
                <div class="col-md-6">
                    <button type="submit" class="k-button k-primary">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="clearfix"></div>
</div>
    @section scripts{
        <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
        <script type="text/javascript">
            $("form#changePassword").validate({
                rules: {
                    OldPassword: {
                        required: true,
                        minlength: 6
                    },
                    NewPassword: {
                        required: true,
                        minlength: 6
                    },
                    ConfirmPassword: {
                        equalTo: "#NewPassword",
                        minlength: 6
                    }
                },
                submitHandler: function (form) {
                    var data = {
                        OldPassword: $("#OldPassword").val(),
                        NewPassword: $("#NewPassword").val(),
                        ConfirmPassword: $("#ConfirmPassword").val()
                    }

                    $.ajax({
                        url: config.baseUrl + "api/accounts/ChangePassword",
                        data: data,
                        method: "POST",
                        success: function (resp) {
                            var countdown = 3;
                            $("#alert").html("<div class='alert alert-success'>Change password success, you will be redirected in " + countdown + " seconds.</div>");
                            countdown -= 1;

                            window.setInterval(function () {
                                $("#alert").html("<div class='alert alert-success'>Change password success, you will be redirected in " + countdown + " seconds.</div>");
                                countdown -= 1;
                            }, 1000);

                            setTimeout(function () {
                                window.location = "/member/manage";
                            }, 3000);
                        },
                        error: function (resp) {
                            var error = $.parseJSON(resp.responseText);

                            var errArr = [];

                            for (var x in error.modelState) {
                                errArr.push(error.modelState[x]);
                            }

                            var alertMsg = errArr[0].join(",");
                            $("#alert").html("<div class='alert alert-danger'>" + alertMsg + "</div>");
                        },
                        beforeSend: function (data) {
                            $("#alert").html("");
                            $("#body-overlay").removeClass("hide");
                        },
                        complete: function (resp) {
                            $("#body-overlay").addClass("hide");
                        }
                    });
                }
            });
        </script>
    }
