﻿@using App.Helper
@using Domain.Models.ViewModels
@using Humanizer
@model Domain.Infrastructure.ApplicationUser

@{
    ViewBag.Title = "Details";
    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
    var photo = UserHelper.GetUserPhoto(Model.Id);
}
<div class="panel">
    <div class="panel-header">
        <h3>
            <i class="fa fa-list"></i><strong>Detail Informasi User</strong>
        </h3>
    </div>
    <div class="panel-content p-b-20">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-md-2 col-lg-2 p-t-30 p-b-30" align="center">
                    <img alt="User Pic" src="@Url.Content(photo)" height="150" width="150" class="img-circle user-pic">
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <div class="nav-tabs">
                        <ul class="nav nav-tabs nav-green">
                            <li class="active"><a href="#profile" data-toggle="tab"><i class="fa fa-info"></i> Profile</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="profile" class="tab-pane fade active in">
                                <div class="row">
                                    <div class=" col-md-12 col-lg-12">
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => model.Email)</td>
                                                    <td>@Html.DisplayFor(model => model.Email)</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => model.UserName)</td>
                                                    <td>@Html.DisplayFor(model => model.UserName)</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => model.UserProfile.Name)</td>
                                                    <td>@Html.DisplayFor(model => model.UserProfile.Name)</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => model.UserProfile.Birthplace)</td>
                                                    <td>@Html.DisplayFor(model => model.UserProfile.Birthplace)</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => model.UserProfile.Birthdate)</td>
                                                    <td>@(Model.UserProfile.Birthdate.HasValue ? Model.UserProfile.Birthdate.Value.ToString("dd MMM yyyy") : "")</td>
                                                </tr>
                                                <tr>
                                                    <td>Telepon</td>
                                                    <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.DisplayNameFor(model => model.UserProfile.Address)</td>
                                                    <td>@Html.DisplayFor(model => model.UserProfile.Address)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <a href="/Member/Edit" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Edit Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        @*<a href="/UserManagement/" class="btn btn-default btn-transparent pull-right"><i class="glyphicon glyphicon-list"></i> Back to List</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>