﻿@using System.Configuration
@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    var baseUrl = ConfigurationManager.AppSettings["baseUrl"];
    var returnUrl = Request.QueryString["returnUrl"] ?? baseUrl;
    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}

<div class="panel">
    <form id="login">
        <h3 class="text-center">Register</h3>
        <div id="alert"></div>
        <div class="col-lg-12">
            <input type="text" class="k-input k-textbox" placeholder="Name" name="Name" id="Name" />
        </div>
        <div class="col-lg-12">
            <input type="text" class="k-input k-textbox" placeholder="Email" name="Email" id="Email" />
        </div>
        <div class="col-lg-12">
            <input type="text" class="k-input k-textbox" placeholder="Username" name="Username" id="Username" />
        </div>
        <div class="col-lg-12">
            <input type="password" class="k-input k-textbox" placeholder="Password" name="Password" id="Password" />
        </div>
        <div class="col-lg-12">
            <input type="password" class="k-input k-textbox" placeholder="Confirm Password" name="ConfirmPassword" id="ConfirmPassword" />
        </div>
        <div class="col-lg-12">
            <input type="submit" class="k-button k-primary" value="Register" />
        </div>
        <div class="col-lg-12 text-right">
            <span><a href="@Url.Action("ForgotPassword")">Forgot your password?</a></span> |
            <span><a href="@Url.Action("Index")">Login</a></span>
        </div>
    </form>
</div>
    @section scripts
{
        <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
        <script type="text/javascript">
            $("form#login").validate({
                rules: {
                    Name: {
                        required: true
                    },
                    Username: {
                        required: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    Password: {
                        required: true,
                        minlength: 6
                    },
                    ConfirmPassword: {
                        equalTo: "#Password",
                        minlength: 6
                    }
                },
                submitHandler: function (form) {
                    var data = {
                        Email: $("#Email").val(),
                        Username: $("#Username").val(),
                        Name: $("#Name").val(),
                        Password: $("#Password").val(),
                        ConfirmPassword: $("#ConfirmPassword").val()
                    }

                    $.ajax({
                        url: config.baseUrl + "api/accounts/create",
                        data: data,
                        method: "POST",
                        success: function (resp) {
                            var countdown = 5;
                            $("#alert").html("<div class='alert alert-success'>Register success, check your email to confirm your account. You will be redirected in " + countdown + " seconds.</div>");

                            countdown -= 1;

                            window.setInterval(function () {
                                $("#alert").html("<div class='alert alert-success'>Register success, check your email to confirm your account. You will be redirected in " + countdown + " seconds.</div>");
                                countdown -= 1;
                            }, 1000);

                            setTimeout(function () {
                                window.location = "@baseUrl";
                            }, 5000);
                        },
                        error: function (resp) {
                            var error = $.parseJSON(resp.responseText);

                            var errArr = [];

                            for (var x in error.modelState) {
                                errArr.push(error.modelState[x]);
                            }

                            var alertMsg = errArr[0].join(",");
                            $("#alert").html("<div class='alert alert-danger'>" + alertMsg + "</div>");
                        },
                        beforeSend: function (data) {
                            $("#alert").html("");
                            $("#body-overlay").removeClass("hide");
                        },
                        complete: function (resp) {
                            $("#body-overlay").addClass("hide");
                        }
                    });
                }
            });
        </script>
    }
