﻿@using System.Configuration
@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    var baseUrl = ConfigurationManager.AppSettings["baseUrl"];
}

<div class="panel">
    <form id="login">
        <h3 class="text-center">Reset Password</h3>
        <div id="alert"></div>
        <input type="hidden" name="userId" value="@ViewBag.Id" id="Id" />
        <input type="hidden" name="token" value="@ViewBag.Token" id="Token" />
        <div class="col-lg-12">
            <input type="password" class="k-input k-textbox" placeholder="New Password" name="NewPassword" id="NewPassword" />
        </div>
        <div class="col-lg-12">
            <input type="password" class="k-input k-textbox" placeholder="Confirm Password" name="ConfirmPassword" id="ConfirmPassword" />
        </div>
        <div class="col-lg-12">
            <input type="submit" class="k-button k-primary" value="Change Password" />
        </div>
    </form>
</div>
    @section scripts
{
        <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
        <script type="text/javascript">
            $("form#login").validate({
                rules: {
                    NewPassword: {
                        required: true,
                        minlength: 6
                    },
                    ConfirmPassword: {
                        equalTo: "#NewPassword",
                        minlength: 6
                    }
                },
                submitHandler: function (form) {
                    var data = {
                        Id: $("#Id").val(),
                        Token: $("#Token").val(),
                        Password: $("#NewPassword").val(),
                        ConfirmPassword: $("#ConfirmPassword").val()
                    }

                    $.ajax({
                        url: config.baseUrl + "api/accounts/ResetPassword",
                        data: data,
                        method: "POST",
                        success: function (resp) {
                            var countdown = 3;
                            $("#alert").html("<div class='alert alert-success'>Reset password success, you will be redirected in " + countdown + " seconds.</div>");
                            countdown -= 1;

                            window.setInterval(function () {
                                $("#alert").html("<div class='alert alert-success'>Reset password success, you will be redirected in " + countdown + " seconds.</div>");
                                countdown -= 1;
                            }, 1000);

                            setTimeout(function () {
                                window.location = "@baseUrl";
                            }, 3000);
                        },
                        error: function (resp) {
                            var error = $.parseJSON(resp.responseText);

                            var errArr = [];

                            for (var x in error.modelState) {
                                errArr.push(error.modelState[x]);
                            }

                            var alertMsg = errArr[0].join(",");
                            $("#alert").html("<div class='alert alert-danger'>" + alertMsg + "</div>");
                        },
                        beforeSend: function (data) {
                            $("#alert").html("");
                            $("#body-overlay").removeClass("hide");
                        },
                        complete: function (resp) {
                            $("#body-overlay").addClass("hide");
                        }
                    });
                }
            });
        </script>
    }
