﻿@model Domain.Models.Solution

@{
    ViewBag.Title = "Details";

    var webApiUrl = System.Configuration.ConfigurationManager.AppSettings["webApiUrl"];
}

<div class="panel">
    <div class="panel-header border-bottom">
        <h2>
            <span class="fa fa-info-circle"></span> <strong>Solution - Details</strong>
        </h2>
    </div>
    <div class="panel-content">
        <dl class="dl-horizontal">
                    <dt>
                @Html.DisplayNameFor(model => model.Creator)
            </dt>

            <dd>
                @if (Model.CreatorId == null)
                {
                    <span class='text'>Anonymous</span>
                }
                else
                { <a href="@Url.Action("Details", "ApplicationUser", new { id = Model.Creator.Id })">@Model.Creator.Email</a> }
            </dd>
                        <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
                    <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>
                    <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
                    <dt>
                @Html.DisplayNameFor(model => model.LastUpdateTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastUpdateTime)
            </dd>
                    <dt>
                @Html.DisplayNameFor(model => model.IsPublished)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsPublished)
            </dd>
            </dl>
            <div id="tabstrip">
            <ul>
                    <li class="k-state-active">
                    Tickets
                </li>
                    <li class="">
                    Logs
                </li>
                </ul>
                <div id="grid-Tickets"></div>
                <div id="grid-logs"></div>
            </div>
        <div style="height: 20px;"></div>
        </div>
    <div class="panel-footer">
        <p class="pull-right">
            @if (!this.User.IsInRole("User"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Id }) 
            }  
            |       
            @if (this.User.IsInRole("User"))
            {
                @Html.ActionLink("Solution List", "IndexUser")
            } else {@Html.ActionLink("Solution List", "Index")}
            
            
            @if (Request.UrlReferrer != null)
            {
                @: | <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
            }
        </p>
        <div class="clearfix"></div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
    });
    var dsTickets = new kendo.data.DataSource({
        type: "json",
        transport: {
            read: {
                url: "@(webApiUrl)Tickets",
                dataType: "json",
                contentType: "application/json"
            },
            parameterMap: function (options, operation) {
                if (operation === "destroy") {
                    return null;
                } else if (operation !== "read" && options.models) {
                    return { models: kendo.stringify(options.models) };
                } else {
                    return "q=" + JSON.stringify(options);
                }
            }
        },
        schema: {
            data: "Data",
            total: "Total",
            model: {
                id: 'Id'
            }
        },
        filter: {
            field: "SolutionId",
            operator: "eq",
            value: parseInt("@ViewBag.Id")
        },
        serverFiltering: true,
        serverPaging: true,
        serverSorting: true,
        pageSize: 10
    });

    $("#grid-Tickets").kendoGrid({
        dataSource: dsTickets,
        dataBound: gridDataBound,
        noDataMessage: 'Currently no Tickets available',
        sortable: true,
        filterable: {
            mode: "row"
        },
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5
        },
        groupable: true,
        columns: [
            {
                field: "Creator.Email",
                title: "Creator",
                template: function (data) {
                    var html = "<div class='text-center'>";
                    if (data.CreatorId == null) {
                        html += "<span class='text-center'>" + "Anonymous" + "</span>";
                    } else {
                        html += '<a href="@Url.Action("Details","ApplicationUser")/' + data.Creator.Id + '">' + data.Creator.Email + '</a>';
                    }
                    html += "</div>";
                    return html;
                }
            },
            {
                field: "TicketApplication",
                title: "TicketApplication",
                template: function (data) {
                    return '<a href="@Url.Action("Details","TicketApplication")/' + data.TicketApplication.Id + '">' + data.TicketApplication.Name + '</a>';
                }
            },
            {
                field: "TicketCategory",
                title: "TicketCategory",
                template: function (data) {
                    return '<a href="@Url.Action("Details","TicketCategory")/' + data.TicketCategory.Id + '">' + data.TicketCategory.Name + '</a>';
                }
            },
            {
                field: "TicketPriority",
                title: "TicketPriority",
                template: function (data) {
                    return '<a href="@Url.Action("Details","TicketPriority")/' + data.TicketPriority.Id + '">' + data.TicketPriority.Name + '</a>';
                }
            },
            {
                field: "TicketStatus",
                title: "TicketStatus",
                template: function (data) {
                    return '<a href="@Url.Action("Details","TicketStatus")/' + data.TicketStatus.Id + '">' + data.TicketStatus.Name + '</a>';
                }
            },
            "Title",
            "Description",
            {
                field: "DueDate",
                format: "{0: yyyy-MM-dd HH:mm:ss}"
            },
            {
                field: "CreatedAt",
                format: "{0: yyyy-MM-dd HH:mm:ss}"
            },
            {
                field: "LastUpdateTime",
                format: "{0: yyyy-MM-dd HH:mm:ss}"
            },
            {
                command: [
                    {
                        name: 'Details',
                        click: function (data) {
                            var dataItem = this.dataItem($(data.currentTarget).closest("tr"));
                            window.location = "@Url.Action("Details", "Ticket")/" + dataItem.Id;
                        },
                        text: "<button class='btn btn-default btn-transparent btn-sm p-0' title='Details'><span class='fa fa-search'></span></button>"
                    }
                ],
                width: 100
            }
        ]
    });

    var dsLogs = new kendo.data.DataSource({
        type: "json",
        transport: {
            read: {
                url: "@(webApiUrl)logs/Solutions/@ViewBag.Id",
                dataType: "json",
                contentType: "application/json"
            },
            parameterMap: function (options, operation) {
                if (operation === "destroy") {
                    return null;
                } else if (operation !== "read" && options.models) {
                    return { models: kendo.stringify(options.models) };
                } else {
                    return "q=" + JSON.stringify(options);
                }
            }
        },
        schema: {
            data: "Data",
            total: "Total",
            model: {
                id: 'Id',
                fields: {
                    EventDateUTC: {
                        type: "date"
                    }
                }
            }
        },
        serverFiltering: true,
        serverPaging: true,
        serverSorting: true,
        pageSize: 10
    });

    $("#grid-logs").kendoGrid({
        dataSource: dsLogs,
        sortable: true,
        filterable: {
            mode: "row"
        },
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5
        },
        groupable: true,
        columns: [
            {
                field: "EventType",
                title: "Type"
            },
            {
                field: "EventDateUTC",
                title: "Change Date",
                format: "{0: yyyy-MM-dd HH:mm:ss}"
            },
            {
                field: "ColumnName",
                title: "Column"
            },
            {
                field: "OriginalValue",
                title: "Original"
            },
            {
                field: "NewValue",
                title: "New"
            },
            {
                field: "UserName",
                title: "By"
            }
        ]
    });
    </script>
}
